.footer-container {
    height: 150px;
    width: 95%;
    position: relative;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container:before {
    content: '';
    background: url("../../assetes/images/footer-aqarium.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
}

.footer-container .footer-icon{
    color: #FF9933;
    font-family: cursive;
    font-size: 2rem;
    margin: 2% 2%;
    padding: 5rem;
    cursor: pointer;
}

.footer-container a {
    width: 15%;
}


@media screen and (max-width: 940px){

    .footer-container {
        height: 100px;
    }

    .footer-container .footer-icon{
        font-size: 1.5rem;
        padding: 2rem;
    }

}







